<!--todo component view-->

<div class="row">
    <div class="col-md-6">

        <h2>todos list</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>id</td>
                    <td>description</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#todo of todos()">
                    <td>{{ todo.todoId }}</td>
                    <td *ngIf="editMode != todo.todoId">
                        {{ todo.description }}
                    </td>
                    <td *ngIf="editMode == todo.todoId">
                        <input [(ngModel)]="todo.description" type="text" class="form-control" id="editDescription">
                    </td>
                    <td *ngIf="editMode != todo.todoId">
                        <button class="btn btn-primary" (click)="deleteTodo(todo)">delete</button>
                    </td>
                    <td *ngIf="editMode == todo.todoId">
                        <button class="btn btn-primary" (click)="editTodo(todo); editMode = null">save</button>
                    </td>
                    <td *ngIf="editMode != todo.todoId">
                        <button class="btn btn-primary" (click)="editMode = todo.todoId">edit</button>
                    </td>
                    <td *ngIf="editMode == todo.todoId">
                        <button class="btn btn-primary" (click)="editMode = null">cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-default btn-block" (click)="clearTodos()">clear todos</button>
        <hr />

    </div>

    <div class="col-md-6">

        <form>
            <div class="form-group">
                <label for="inputDescription">description:</label>
                <input #description type="text" class="form-control" id="inputDescription" placeholder="description">
            </div>
            <button type="button" class="btn btn-default btn-block" (click)="addTodo(description.value)">add todo</button>
        </form>
        <br>

    </div>
</div>